-e ../awpyParquet
beautifulsoup4>=4.14.3
demoparser2>=0.40.2
matplotlib>=3.10.8
numpy>=2.4.0
pandas>=2.3.3
psycopg2_binary>=2.9.10
python-dotenv>=1.2.1
pyvista>=0.46.4
selenium>=4.39.0
undetected_chromedriver>=3.5.5
webdriver_manager>=4.0.2